<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% for(let i = 0; i < data.length; i++) { %>
            <li>
              <%= data[i].title %> : <%= data[i].desc %>
              <button class='delete' id="<%= data[i].id %>">Delete</button>
            </li>
            <li>Number of Seasons : <%= data[i].numSeasons %></li>
        <% } %>
    </ul>
    <p>Add your own show</p>
    <form class='post'>
      <label for="title">Show Title: </label>
      <input type="text" id="title" name="title">
      <label for="numSeasons">Number of Seasons: </label>
      <input type="text" id="numSeasons" name="numSeasons">
      <label for="desc">Show Description: </label>
      <input type="text" id="desc" name="desc">
      <input type="submit" id ='submit' value="Submit">
    </form>
  </body>
  <script src='/javascripts/shows.js'></script>
</html>
